.App {
  text-align: center;
}
.inspMe,.inspResult,.dateAndtime {
  text-align: center;
}
.inspMe{
  margin-top: 10px;
  border:1px solid;
  width:70%;
  margin-right: 10px;
  flex:none
}
.inspResButton,.inspMeTitle,.inspMeButton,.dateAndtime {
  font-family: 'Limelight', cursive;
}
.inspMeResult{
width:20%;
}
.inspRes{
  white-space: nowrap;
}
.inspMeTitle{
  font-weight: bolder;
}
.inspInput{
  margin-top: 10px;
  border:1px solid;
  background-color: #f9f7f1;
  margin-bottom: 10px;
  margin-left: 12px;
  width: 97.6%;
}
.inspResult{
  margin-top: 10px;
  border:1px solid;
  background-color: #f9f7f1;
  margin-bottom: 10px;
}
.inspComment{
  border:1px solid;
  background-color: #f9f7f1;
  border-radius: 5px;
}
.inspMeButton, .inspResButton, .editButton2 {
  display:block;
  margin:0 auto;
  color: #2f2f2f;
  background-color: #f9f7f1;
  margin-bottom: 10px;
  border-radius: 5px;
}
.commentBtn {
  color: #2f2f2f;
  background-color: #f9f7f1;
  margin:10px;
  border-radius: 5px;
}
.editButton2:hover,.editButton2:focus,.editButton2:active,.commentBtn:hover,.commentBtn:focus,.commentBtn:active,.inspMeButton:hover,.inspMeButton:focus,.inspMeButton:active,.inspResButton:hover,.inspResButton:focus,.inspResButton:active {
  background-color: #2f2f2f;
  color:#f39c38;
  border-color: #2f2f2f;
}
.dateAndtime{
  font-weight: bolder;
  margin-top:10px;
  width:100%;
  border: 1px solid;
  font-weight: bolder;
}
.editButton2{
  margin-top: 10px;
}
.inspMe,.inspInput,.inspResButton,.inspResult,.inspMeButton,.commentBtn, .inspComment, .editButton2, .link-btn {
  box-shadow:7px 7px 7px #8d8d8d;
  border:1x solid;
  border-color: #2f2f2f;
  border-radius: 5px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media only screen and (max-width: 992px) {
  .inspMe,.inspResult {
    width: 100%;
  }
  .inspInput{
    margin-left: 12px;
    width:96%
  }
  .inspMeTitle {
    display:block;
    margin:0 auto;
  }
   .inspRes {
    width:30%;
    margin:10px;
    display: inline-block;
  }
  .inspMeResult{
    width:100%;
    }
    .col-2{
      flex:none;
      width:100%
    }
    .col-10{
      flex:none;
      width:100%
    }
    .card-title{
      width:30%;
      display: inline;
      }
      .commentBtn{
        width:30%
      }
}
@media only screen and (max-width: 767px) {
.inspResult, .inspMeTitle, .inspRes{
  width:100%
}
.card-title{
  display: flex;
width:100%;
}
.commentBtn{
  width:30%
}
}
@media only screen and (max-width: 584px) {
  .inspMe,.inspResButton,.inspResult,.inspMeButton,.commentBtn, .inspComment, .editButton2 {
    box-shadow: none;
  }
    .inspRes {
      white-space: break-spaces;
    }
  }
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  font-size: 14px;
  color: #2f2f2f;
  background-color: #f9f7f1;
}