footer{
 position:fixed;
 width: 100%;
 bottom:0;
 left:0;
}


.footer-row {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background: #2f2f2f;
    color: #f9f7f1;
    margin-top: 100px;
    margin-bottom: 0px;
  }
  .footer-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
    list-style: none;
    padding: 0px;
  }

  .developers{
    text-align:left;
    font-weight: bolder;
  }

  .footer-item{
    margin-right:5px;
    
  }

  .github-icon{
      color: #f9f7f1;
      margin:5px;
  }

  .license{
    display: block;
    margin: auto;

  }
 img {
   display: block;
   margin: auto;
   max-width: 480px;
  }
   
 
  
  @media (max-width: 992px) {
    .footer-row {
      display: flex;
      flex-direction: column;
      justify-content: center;
       align-items: center;
      padding: 10px;
    
    }
    .developers{
      text-align: center;

    }
    .footer-list{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: flex-start;
      list-style: none;
      text-align: center;
      padding: 0px;
      margin-left: 0px;
    }
  }
  