.articleReadMore{
    display:none;
}

.articleTitle {
    font-family: 'Limelight', cursive;
    font-weight: bolder;
}

.standardImg{
    min-width: 150px;
    min-height: 150px;
    display:block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.articleCard {
    margin-top: 10px;
    background-color: #f9f7f1;
    border-color:#2f2f2f ;
    border:2px solid;
    box-shadow:7px 7px 7px #8d8d8d;
}


.articlebtn {
    font-family: 'Limelight', cursive;
    display:block;
    margin:0 auto;
    color: #2f2f2f;
    background-color: #f9f7f1;
    margin-bottom: 10px;
    border-radius: 5px;
    border-style: none;
    box-shadow:7px 7px 7px #8d8d8d;
    border:2px solid;
    border-color: #2f2f2f;
    border-radius: 5px;
}

.articlebtn:hover,.articlebtn:focus,.articlebtn:active {
    background-color: #2f2f2f;
    color:#f39c38;
    border-color: #2f2f2f;
}

.altImage {
    border-color:#2f2f2f ;
    border:2px solid
}

.artbtn {
    padding: 5px;
}

@media only screen and (max-width: 991px) {
    .col-3 {
      width: 50%;
    }
  }

  @media only screen and (max-width: 767px) {
    .col-3 {
      width: 100%;
    }
  }