body {
    color: #2f2f2f;

  }

  .btn-style:hover {
    color: #f39c38;
  }

.btn-style{
    color: #2f2f2f;
    background-color: #f9f7f1;
    box-shadow: 7px 7px 7px #8d8d8d;
    border:1px solid;
    border-radius: 5px;
    font-weight: bolder;
  }

  .save-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
    border: solid #2f2f2f 2px;
    border-radius: 5px;
    box-shadow: 7px 7px 7px #8d8d8d;
    font-size: 1.5rem;
  

  }
  .challenge-link{
    font-family: 'Limelight', cursive;
    font-size: 1.5rem;
  }

.delete-btn{
   color: rgb(236, 127, 127);
   font-size: 1.5rem;

}

.challenge{
    text-align: right;
}
.delete{
    text-align: center;
}
.save-title{
    font-family: 'Limelight', cursive;
    margin-top: 20px;
   
   
}

@media (max-width: 540px) {
  .save-title{
    text-align:center;
  }
  .save-row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

  }
	
	
}